.filters {
    background-color: white;
    height: 70px;
    width: 100%;
    border: 1px solid #DDDDDD;
    border-radius: 4px;
    display: flex;
}

.filters div {
    height: 100%;
    width: 25%;
}

.filters div h3 {
    font-weight: 600;
    padding-top: 15px;
    padding-left: 30px;
}

.filters > div > h4 {
    font-weight: 400;
    font-size: 14px;
    padding-left: 30px;
}

.locations {
    border-right: 1px solid #DDDDDD;
}

button {
    font-size: 18px;
    background-color: #FF5A5F;
    height: 48px;
    width: 20%;
    border: none;
    border-radius: 4px;
    margin-right: 30px;
    align-self: center;
    margin-left: auto;
}

button:hover {
    opacity: 90%;
}

.popover {
    background-color: #FAFAFA;
    width: 100%;
    margin-top: 20px;
    border: 1px solid #DDDDDD;
    border-radius: 4px;
    padding-bottom: 1em;
    position: relative;
    display: none;
    z-index: 1;
}

ul li {
    list-style: none;
}

.popover li , .popover li ul{
    margin-left: 20px;
}

li {
    padding: 5px;
}

.popover h2 {
    margin-top: 1em;
    font-size: 16px;
}

.filters div:hover .popover{
    display: block;
}